<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ユーザー登録 Step2</title>
</head>

<body>
  <h2>ユーザー登録 Step2</h2>
  <!--//STEP3の認証エラー時は本ページを再表示。-->
  <%=email %> さん、メールを送信しましたので、<br>
  メール記載のurlにアクセスしてください。
</body>
</html>